$ifdebug: false;

/////////////
//typography
$base-font-size: 18px;
$line-height:28px;
$lil:1; //line divider 
$base-line-height: $line-height/$lil;

$font-family-body: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-headers: 'Lato', Helvetica, Arial, sans-serif;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$font-weight-def: $font-regular;


$transition-time-s:.8s;
$transition-time:.4s;
$transition-time-f:.2s;
$transition-time-xf:.1s;

$tablet-font-scale:0.9;
$mobile-font-scale:0.85;

////////////
// font size
$f-xxlarge: 64px;
$f-xlarge: 32px;
$f-large: 22px;
$f-smaller:16px;
$f-small:14px;


// px to rem
@function rem-calc($size) {
  $remSize: $size / $base-font-size;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: rem-calc($size);
}


////////////////////
// Grid

//break points
$breakpoint-to-ems:true;

$bp-small:640px;
$bp-medium:1080px;
$bp-large:1400px;
$bp-xlarge:1680px;

$small-only: max-width $bp-small;

$medium-only: $bp-small $bp-medium;
$medium-up: $bp-small;
$medium-down: max-width $bp-medium;

$large-only: $bp-medium $bp-large;
$large-up: $bp-medium;
$large-down: max-width $bp-large;

$xlarge-up: $bp-large;

$xxlarge-up: $bp-xlarge;


$col-large:12;
$col-medium:12;
$col-small:4;


$susy: (
  columns: 4,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);
$susy-medium-up: (
  columns: $col-medium,
  gutters: 1/4,
  math: fluid,
  gutter-position: after,
  output: float,
);


/////////////
// colors
$white: #fff;
$black: #000;
$oil: #222;
$white-gray: #f9f9f9;
$light-gray: #f2f2f2;
$dark-gray: #aaaaaa;
$light-blue: darken(#eef4f4, 5%);
$vivid-blue: #2300FF;

$text-color: $oil;

// layout settings
// header
$header-height: rem-calc($line-height*4);
$footer-height: rem-calc($line-height*4);
$margin-right: rem-calc(70px);
$content-shift: rem-calc(30px);
$margin-left: $margin-right + $content-shift;

$padding-top: rem-calc($line-height*2);
$padding-bottom: rem-calc($line-height);

//elements
@mixin dbp-box-shadow($size: 7px, $color: $vivid-blue) {
  box-shadow:-$size $size 0px 0px $color;
}