@include border-box-sizing;
@include layout($susy);


body {
	@include container;
	padding-top:$header-height;
}


// page wd


.g_contain {
  	@include page-wrapper;
}
.g_content {
	@extend .g_contain;
  	background: $light-blue;

 	@include susy-breakpoint ($medium-up, $susy-medium-up) {
 		padding: $padding-top 0 $padding-bottom 0;
 	}
}

.g_shift {
	@include shift;
}

// Biuro Page layout
@include susy-breakpoint($medium-up, $susy-medium-up) {
	.biuro {
		@include span(7 of 12);
	}
	.oferta {
		@include span(4 at 9 of 12);
	}
}