@include border-box-sizing;
@include layout($susy);


body {
	@include container;
	padding-top:$header-height-m;

 	@include susy-breakpoint($medium-up, $susy-medium-up){
		padding-top:$header-height;
 	}
}


// page wd
// page container

$container-width: 94%;

@mixin page-wrapper {
  @include container($container-width);

  @include breakpoint($large-up){
    margin:0 $margin-right 0 $margin-left;
  }
}

.g_contain {
  	@include page-wrapper;
}
.g_content {
	@extend .g_contain;
	margin:$padding-top 1.5% 0 1.5%;
	padding:0 1.5% $padding-bottom 1.5%;
	background: $light-blue;
	width:$container-width +3%;

 	@include susy-breakpoint($large-up, $susy-medium-up){
   		width:auto;
  		padding: $padding-top 0 $padding-bottom 0;
    	margin:0 $margin-right 0 $margin-left;
 	}
}

.g_shift {
	@include shift;
	@include breakpoint($medium-down) {
		position:relative;
		top:-(rhythm(1));
	}
}

// Biuro Page layout
.biuro {
	padding-bottom: rhythm(1);
}
@include susy-breakpoint($medium-up, $susy-medium-up) {
	.biuro {
		@include span(7 of 12);
		padding-bottom:0;
	}
	.oferta {
		@include span(5 at 8 of 12);
	}
}
@include susy-breakpoint($large-up, $susy-medium-up) {
	.oferta {
		@include span(4 at 9 of 12);
	}
}