@include establish-baseline;

html {
  font-family:$font-family;
  font-weight:$def-font-weight;
  @include adjust-leading-to($lil);
  
  @include breakpoint($medium-only) {
    @include adjust-font-size-to($base-font-size*$tablet-font-scale);
  }
  
  @include breakpoint($small-only) {
    @include adjust-font-size-to($base-font-size*$mobile-font-scale);
  }
}


// font size
@mixin small {
   @include adjust-font-size-to($f_small);
}
@mixin smaller {
   @include adjust-font-size-to($f_smaller);
}
@mixin base-font-size {
   @include adjust-font-size-to($base-font-size);
}
@mixin large {
   @include adjust-font-size-to($f_large);
}
@mixin xlarge {
     @include adjust-font-size-to($f_xlarge);
}

// font weight
@mixin light {
  font-weight:$font-light;
}
@mixin regular {
  font-weight:$font-regular;
}
@mixin bold {
  font-weight:$font-bold;
}