// reset browser default style
@import "compass/reset";

//variables and functions
@import "global";
@import "compass";

//susy grids
@import "breakpoint";
@import "grid";

//typography
@import "typography";

///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////



////////
//global

a {
	@include unstyled-link;
}
img {
	max-width:100%;
}



/////////
// header

.header {
	height:$header-height;
	line-height:$header-height;
	background:$white;
}
// >
	.logo-link {
		float:left;
		vertical-align:middle;
	}
	// >
		.logo {
			// @include shift;
			vertical-align: middle;
			height:$header-height*0.8;
		}

	.menu {
		float:right;
		@include header;

		> li {
			float:left;
			padding-left:20px;
			@include fat-text;

			@include susy-breakpoint($large-up, $susy-medium-up) {
				a {
					display:block;
					overflow:hidden;
		    		transition: color $transition-time-xf linear;	

					&:after {
						display:block;
						width:100%;
						height:4px;
						background:$vivid-blue;
						content:"";
						transform: translateX(-100%);
		    			transition: transform $transition-time-xf linear;	
		    			position:relative;
		    			top:-30px;			
					}
					&:hover {
						color:$vivid-blue;
						&:after {
							transform: translateX(0%);					
						}
					}
				}
			} // ! breakpoint

		}
	}


.headroom {
    position: fixed;
    top: 0;
    left: 0;
    z-index:10;
    right: 0;
    transition: all $transition-time-f linear;
}
.headroom--pinned {
    transform: translateY(0%);
    opacity:1;
}
.headroom--unpinned {
    transform: translateY(-100%);
    opacity:.5;
}



/////////////
// Realizacje

.realizacje-list {
	padding-top: gutter();
}
.realizacje-item {
	margin-bottom: gutter();

	.realizacje-link > img {
		width:100%;
		height:auto;
	}
}

@include susy-breakpoint($medium-up, $susy-medium-up) {
	
	.realizacje-item {
		@include gallery($col-medium/2 of $col-medium);		
		margin-bottom: gutter(); //redefine - 12 columns space
		position:relative;
	}
	// >
		.realizacje-text {
			@include vertical-center;		
			text-align:center;	
			opacity:0;
    		transition: opacity $transition-time-f;		
    		width:90%;
    		margin:0 5%;			
		}
		.realizacje-title {
			@include large;
			@include fat-text;			
    		padding-bottom:5px;
    		border-bottom:2px solid $text-color;
    		display:inline-block;
    		color:$text-color;
		}

		.realizacje-link {
			> img {
				transition: opacity $transition-time-f;	
				vertical-align:top; //delete extra margin
			}

			&:hover .realizacje-text {
				opacity:1;
			}
			
			&:hover > img {
				opacity:0;
			}
		}

	.realizacje-item--overlay {
		background:$vivid-blue;
		
		.realizacje-title {
			color:$white;
			border-color:$white;
		}
	}	
	
}

@include susy-breakpoint($large-up, $susy-medium-up) {	
	.realizacje-item {
		@include gallery($col-medium/3 of $col-medium);
	}	
}


////////////////////
// Realizacje Single

.realizacje-single {
	> p {
		@include large;
	}
}
// >
	.realizacje-gallery {
		@include leader($lil);

		> li {
			@include trailer($lil);

			> img {
				width:100%;
			}
		}
	}



//////////
// content

.g_spacer {
	background: $text-color;
	width: 50px;
	height: 4px;
	@include leader($lil);
	@include trailer($lil);
}
.g_h1 {
	@include fat-text;
	@include xlarge;
}
.g_h2 {
	@include fat-text;
	@include large;
}
.g_p {
	@include large;
	@include trailer($lil);
}


///////////
//home page

.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index:1;
	background:$vivid-blue;
	text-align:center;	
}
// >
	.fullscreen-image {
		width:100%;
		opacity:0.2;
	}

	.fullscreen-text {
		@include vertical-center;	
		@include fat-text;
		@include xxlarge;
		z-index:5;	
		width:90%;
		margin:0 5%;	
		color:$white;
		text-transform:uppercase;
		letter-spacing:6px;
	}

.home-curtian {
	width:100%;
	background:$white;
	margin-top:100vh;
	z-index:3;
	position:relative; 
	padding-top:50px;
}
.home-skip {
	@include dbp-box-shadow();
	@include bold;
	display:inline-block;
	padding:3px 26px 7px 26px;
	position:absolute;
	bottom:10%;
	z-index:5;
	border:4px solid $white;
	color:$white;
	margin-left: -70px;
	
	.home-arrow {
		display:block;
		clear:both;
		transition: transform $transition-time-f linear;
	}	
	&:hover .home-arrow {
		transform: translateY(5px);
	}
}


////////////
//biuro page

.oferta {
	@include dbp-box-shadow();	
	margin: 0 0 -120px 0;
	padding: 30px;
	background: white;
	border: 4px solid $vivid-blue;

	.g_h2 {
		@include adjust-leading-to(2*$lil);
	}
}
.biuro-list {
	@include trailer($lil);

	> li {
		@include adjust-leading-to(2*$lil);

		&:before {
			width: 10px;
			height: 1.5px;
			background: #222;
			content: "";
			display: block;
		}
	}
}


////////
//footer

footer {
	height:$header-height;
	line-height:$header-height;
	background:$white;
	position:relative;
	z-index:10;
}
#scroll-top-arrow {
	position:fixed;
	z-index:11;
	right:25px;
	bottom:10px;
	@include xxlarge;
	transition: opacity $transition-time-f linear;
}
.scroll-top-arrow--hidden {
	opacity:0;
}
.scroll-top-arrow--show {
	opacity:1;
}