////////////
//biuro page

$oferta-box-shift:rem-calc(120px);

.biuro-page {
	margin-bottom:$oferta-box-shift;
}
// >
	.oferta {
		@include dbp-box-shadow();
		margin: 0 0 (-$oferta-box-shift) 0;
		padding: 30px;
		background: white;
		border: 4px solid $vivid-blue;

		.g_h2 {
			@include trailer($lil);
		}
	}
	// >
		.biuro-list {
			@include trailer($lil);

			> li {
				@include separation-line;

				&:first-child:before {
					display:none;
				}
			}
		}

