////////
//footer

footer {
	height:$header-height;
	padding: rhythm(1) 0;
	background:$white;
	position:relative;
	z-index:10;
}
// >
	.footer-link {
		@include separation-line;
		float:right;

		span {
			display:block;
			clear:both;
		}
	}

#scroll-top-arrow {
	position:fixed;
	z-index:11;
	right:25px;
	bottom:10px;
	@include xxlarge;
	transition: opacity $transition-time-f linear;
}
.scroll-top-arrow--hidden {
	opacity:0;
}
.scroll-top-arrow--show {
	opacity:1;
}