/////////
// header

.header {
	height:$header-height-m;
	line-height:$header-height-m;
	background:$white;
}
// >
	.logo-link {
		float:left;
		vertical-align:middle;
		overflow:hidden;
		width:$header-height-m*0.8*43/37; //logo-logo aspect ratio
	}
	// >
		.logo {
			vertical-align: middle;
			height:$header-height-m*0.8;
			.logo-text {
				display:none;
			}
		}


@include susy-breakpoint($medium-up, $susy-medium-up) {

	.header {
		height:$header-height;
		line-height:$header-height;
		background:$white;
	}
	// >
		.logo-link {
			@include shift;
			float:left;
			vertical-align:middle;
			width:auto;
		}
		// >
			.logo {
				vertical-align: middle;
				height:$header-height*0.8;

				.logo-text {
					opacity:0;
					transition: opacity $transition-time-f linear;
					display:block;
				}
				&:hover .logo-text {
					opacity:1;
				}
			}
} // ! breakpoint

	// <
	.menu {
		float:right;
		@include header;

		> li {
			float:left;
			padding-left:20px;
			@include fat-text;

			@include susy-breakpoint($large-up, $susy-medium-up) {

				a {
					display:block;
					overflow:hidden;
		    		transition: color $transition-time-xf linear;

					&:after {
						display:block;
						width:100%;
						height:4px;
						background:$vivid-blue;
						content:"";
						transform: translateX(-100%);
		    			transition: transform $transition-time-xf linear;
		    			position:relative;
		    			top:-30px;
					}
					&:hover {
						color:$vivid-blue;
						&:after {
							transform: translateX(0%);
						}
					}
				}
			} // ! breakpoint
		} // ! > li
		> .current-menu-item a {
			color:$vivid-blue;
		}
	}


// headroom style
.headroom {
    position: fixed;
    top: 0;
    left: 0;
    z-index:10;
    right: 0;
    transition: all $transition-time-f linear;
}
.headroom--pinned {
    transform: translateY(0%);
    opacity:1;
}
.headroom--unpinned {
    transform: translateY(-100%);
    opacity:.5;
}
