///////////
//home page

.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index:1;
	background:$vivid-blue;
	text-align:center;
}
// >
	.fullscreen-image {
		width:100%;
		opacity:0.2;
	}

	.fullscreen-text {
		@include vertical-center;
		@include fat-text;
		@include xxxlarge;
		z-index:5;
		width:90%;
		margin:0 5%;
		color:$white;
		text-transform:uppercase;
		letter-spacing:6px;
	}

.home-curtian {
	width:100%;
	background:$white;
	margin-top:100vh;
	z-index:3;
	position:relative;
	padding-top:50px;
}
.home-skip {
	@include dbp-box-shadow();
	@include bold;
	display:inline-block;
	padding:3px 26px 7px 26px;
	position:absolute;
	bottom:10%;
	z-index:5;
	border:4px solid $white;
	color:$white;
	margin-left: -70px;

	.home-arrow {
		display:block;
		clear:both;
		transition: transform $transition-time-f linear;
	}
	&:hover .home-arrow {
		transform: translateY(5px);
	}
}