///////////
//home page

.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index:1;
	background:$vivid-blue;
	text-align:center;
	color:$white;
	overflow:hidden;
}
// >
	.fullscreen-text {
		@include fat-text;
		@include xxlarge;
		z-index:5;
		position:relative;
		width:94%;
		margin:0 auto;
		text-transform:uppercase;
		letter-spacing:rem-calc(6px);
		top:$header-height;
		text-align:left;
	}
	.home-skip {
		@include dbp-box-shadow();
		@include bold;
		@include large;
		display:inline-block;
		padding:3px 26px 7px 26px;
		position:absolute;
		z-index:5;
		bottom:7%;
		border:rem-calc(4px) solid $white;
		margin: rhythm(2) 0 0 rem-calc(-70px);
	}
	// >
		.home-arrow {
			display:block;
			clear:both;
			transition: transform $transition-time-f linear;
		}

	.fullscreen-image-wrap {
		position: relative;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		overflow: hidden;
	}
	// >
		.fullscreen-image {
			opacity:0.3;
			display: inline-block;
			position: relative;
			min-width: 75%;
			min-height: 75%;
		}

.home-curtian {
	width:100%;
	background:$white;
	margin-top:100vh;
	z-index:3;
	position:relative;
	padding-top:50px;
}

	@include susy-breakpoint($medium-up, $susy-medium-up) {

		.fullscreen-text {
			@include vertical-center;
			@include xxxlarge;
			width:90%;
			margin:0 5%;
			text-align:center;
			letter-spacing:rem-calc(8px);
		}

		.home-skip {
			@include base-font-size;
			margin-left: -70px;

			&:hover .home-arrow {
				transform: translateY(5px);
			}
		}
	}