////////////////////
// Realizacje Single

.realizacje-single {
	> p {
		@include large;
	}
}
// >
	.realizacje-gallery {
		@include leader($lil);

		> li {
			@include trailer($lil);
			overflow:hidden;
		}
	}
	// >
			.image-container {
				background:$vivid-blue;
				height:0;
				padding-bottom:40%;
				width:100%;
				display:block;
				position:relative;
			}
			// >
				@keyframes pulse {
					0% { opacity: 0.5; }
					50% { opacity: 1; }
					100% { opacity: 0.5; }
				}
				.loading-icon {
					@include vertical-center;
					left:50%;
					transform: translateX(-50%) translateY(-50%);
					height:rem-calc(100px);
					animation: pulse 3*$transition-time-s infinite;
				}

				@keyframes fadein {
				    from { opacity: 0; }
				    to   { opacity: 1; }
				}
				.image-loaded {
					animation: fadein $transition-time-s linear;
					vertical-align:top; //delete extra margin
					width:100%;
				}