////////////////////
// Realizacje Single

.realizacje-single {
	> p {
		@include large;
	}
}
// >
	.realizacje-gallery {
		@include leader($lil);

		> li {
			@include trailer($lil);
			overflow:hidden;
		}
	}
	// >
			.image-container {
				background:$vivid-blue;
				height:0;
				padding-bottom:40%;
				width:100%;
				display:block;
			}
			// >
				@keyframes fadein {
				    from { opacity: 0; }
				    to   { opacity: 1; }
				}
				.image-loaded {
					animation: fadein $transition-time-s linear;
					vertical-align:top; //delete extra margin
					width:100%;
				}