/////////////
// Realizacje

.realizacje-item {
	margin-bottom: rhythm(2);
}
// >
	.realizacje-link > img {
		width:100%;
		height:auto;
	}
	.realizacje-title {
		@include breakpoint($medium-down) {
		    @include xlarge;
		    @include bold;
		    text-transform:uppercase;
		    letter-spacing:2px;
		}
		@include breakpoint($bp-xxsmall $bp-medium) {
		    @include xxlarge;
		}
	}

@include susy-breakpoint($medium-up, $susy-medium-up) {

	.realizacje-item {
		@include gallery($col-medium/2 of $col-medium);
		margin-bottom: gutter();
		position:relative;
	}
	// >
		.realizacje-text {
			@include vertical-center;
			text-align:center;
			opacity:0;
    		transition: opacity $transition-time-f;
    		width:84%;
    		margin:0 8%;
		}
		.realizacje-title {
			@include large;
			@include fat-text;
    		padding-bottom:5px;
    		line-height: rhythm(1.5);
    		border-bottom:2px solid $text-color;
    		display:inline;
    		color:$text-color;
		}

		.realizacje-link {
			> img {
				transition: opacity $transition-time-f;
				vertical-align:top; //delete extra margin
			}

			&:hover .realizacje-text {
				opacity:1;
			}

			&:hover > img {
				opacity:0;
			}
		}

	.realizacje-item--overlay {
		background:$vivid-blue;

		.realizacje-title {
			color:$white;
			border-color:$white;
		}
	}

}

@include susy-breakpoint($large-up, $susy-medium-up) {
	.realizacje-item {
		@include gallery($col-medium/3 of $col-medium);
	}
}